<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Сокращение ссылок</title>
  <link href="/bootstrap.css" rel="stylesheet" type="text/css">
</head>
    <body>
        <div class="row">
            <div class="mx-auto bg-light">
            
                <div class="text-center font-weight-bold text-primary">
                Short URL
                </div>
                
                <p>
                    Вставьте ссылку ниже: 
                </p>
                <form action="/shortURL" method="POST">
                    <div class="input-group mb-3">
                    <div>
                        <input class="form-control" type="text" name="fURL">
                    </div>
                    <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Отправить</button>
                    </div>
                    </div>
                </form>
                <a class="text-info">С помощью данного сервиса вы сможете сделать короткую ссылку</a>
            </div>
        </div>

    </body>
</html>